

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src=" images/a.jpg" alt="..."class="img-responsive">
      <div class="caption">
        <h3>Amazon</h3>
        <p class="description">Amazon.com, Inc. is an American electronic commerce and cloud computing company that was founded on July 5, 1994 by Jeff Bezos and is based in Seattle, Washington.</p>

        <div class="clearfix">
        <div class="price pull-left">$ 1,020.04 </div>
         <a href="#" class="btn btn-success pull-right" role="button">Button</a></div>
      </div>
    </div>
  </div>

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src=" images/aa.jpg" alt="..."class="img-responsive">
      <div class="caption">
        <h3>Alibaba</h3>Alibaba Group Holding Limited is a Chinese e-commerce company that provides consumer-to-consumer, business-to-consumer and business-to-business sales services via web portals.</p>

        <div class="clearfix">
        <div class="price pull-left">$ 157.56 </div>
         <a href="#" class="btn btn-success pull-right" role="button">Button</a></div>
      </div>
    </div>
  </div>

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src=" images/e.jpg" alt="..."class="img-responsive">
      <div class="caption">
        <h3>eBay</h3>
        <p class="description">eBay Inc. is a multinational e-commerce corporation, facilitating online consumer-to-consumer and business-to-consumer sales. It is headquartered in San Jose, California</p>

        <div class="clearfix">
        <div class="price pull-left">$ 35.94 </div>
         <a href="#" class="btn btn-success pull-right" role="button">Button</a></div>
      </div>
    </div>
  </div>

</div>

<!---------!>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src=" images/f.jpg" alt="..."class="img-responsive">
      <div class="caption">
        <h3>Flipkart</h3>
        <p class="description">Flipkart is an electronic commerce company headquartered in Bangalore, Karnataka. It was founded in October 2007 by Sachin Bansal and Binny Bansal.</p>

        <div class="clearfix">
        <div class="price pull-left">$ 104 </div>
         <a href="#" class="btn btn-success pull-right" role="button">Button</a></div>
      </div>
    </div>
  </div>

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src=" images/m.jpg" alt="..."class="img-responsive">
      <div class="caption">
        <h3>Myntra</h3>
        <p class="description">Myntra is an Indian fashion e-commerce company headquartered in Bengaluru, Karnataka, India. The company was founded in 2007 by IIT graduates with a focus on personalisation of gift items</p>

        <div class="clearfix">
        <div class="price pull-left">$  54 </div>
         <a href="#" class="btn btn-success pull-right" role="button">Button</a></div>
      </div>
    </div>
  </div>

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src=" images/s.jpg" alt="..."class="img-responsive">
      <div class="caption">
        <h3>Snapdeal</h3>
        <p class="description">Snapdeal is an Indian e-commerce company based in New Delhi, India. The company was started by Kunal Bahl and Rohit Bansal in February 2010</p>

        <div class="clearfix">
        <div class="price pull-left">$ 90 </div>
         <a href="#" class="btn btn-success pull-right" role="button">Button</a></div>
      </div>
    </div>
  </div>
  
</div>